@import "../../app.scss";

.hero {
  height: calc(100vh - 60px); // Adjust height to account for navbar
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  padding-top: 80px; // New - Add padding to the top to avoid content hiding behind the navbar
  background-color: #0c0c1d;
  color: white;

  .textContainer {
    flex: 1;
    h2 {
      font-size: 24px;
    }
    h1 {
      font-size: 48px;
    }
    button {
      padding: 10px 20px;
      border: none;
      background-color: #ff6347;
      color: white;
      cursor: pointer;
      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }

  .imageContainer {
    flex: 1;
    display: flex;
    justify-content: center;
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
