@import "../../app.scss";
.contact {
  height: 100%;
  max-width: 1366px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 50px;
  @include mobile {
    width: 100%;
    padding: 10px;
    flex-direction: column;
  }

  .textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    @include mobile {
      gap: 20px;
      text-align: center;
      align-items: center;
      margin-top: 70px;
    }

    h1 {
      font-size: 100px;
      line-height: 88px;
      color: #f8fafc;
      @include mobile {
        font-size: 35px;
      }
    }

    h2 {
      color: #93c5fd;
    }

    span {
      font-weight: 300;
      color: #d8e2f1;
    }
  }

  .formContainer {
    flex: 1;
    position: relative;

    @include mobile {
      padding: 10px;
      width: 100%;
    }
    .phoneSvg {
      z-index: -1;
      position: absolute;
      margin: auto;

      @include mobile {
        display: none;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    input,
    textarea {
      padding: 20px;
      background-color: #101827;
      border: 1px solid #2f3c50;
      color: #f8fafc;
      border-radius: 5px;

      @include mobile {
        padding: 10px;
      }
    }

    button {
      padding: 20px;
      border: none;
      background-color: #3b82f6;
      color: #ffffff;
      cursor: pointer;
      font-weight: 700;
    }
  }
}
